* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

img {
    max-width: 100%;
}

.contents {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-bg {
    height: 360px;
    background-color: #ededed;
}
